<%- include('layouts/header') %>

<div class="container">
  <div>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="fileUpload" />
      <input type="submit" value="Upload" />
    </form>
  </div>
  <div class="row">
    <% files.forEach(element => { %>
    <div class="col">
      <button disabled="disabled" class="btn btn-primary active">
        <%= element.filename %>
      </button>
      <a href="#" onclick="deleteFile('<%= element.id %>')"><i class="fas fa-trash-alt"></i></a>
      <a href="/files/download/<%= element.id %>"><i class="fas fa-download"></i></a>
    </div>
    <% }); %>
  </div>
</div>
<%- include('layouts/footer') %>
<%- include ('layouts/script.js') %>
